<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  font-family: roboto;
  background-color: #003399;
  color: white;
}

h2 {
  font-family: roboto;
  color: black;
}

h3 {
  font-family: roboto;
  background-color: black;
  color: white;
}

div {
  background-color: blue;
  color: white;
}

.button {
  font-family: roboto;
  background-color: #0099FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
